#comments-list {
    text-align: center;
}

.comment {
    background: #F9F3EC;
    border-radius: 2em;
    border: grey dashed;
    display: block;
    list-style-type: none;
    margin: 25px auto;
    max-width: 50%;
    padding: 0;
}

.commentNickname {
    font-weight: bold;
    margin: 10px;
}

.commentTimestamp {
    font-style: italic;
    margin: 10px;
}

.commentBody {
    margin: 10px;
    overflow-wrap: break-word;
    text-align: center;
}

.deleteButton {
    border-color: #F44336;
    border-radius: 5px;
    color: red;
    cursor: pointer;
    float: right;
    margin: 10px;
}

.deleteButton:hover {
    background: #F44336;
    color: white;
}
